.perfil-hero{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 80vh;
    margin: 50px;
    padding: 50px;
    border: 2px solid #179CB96B;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.7) url('../../images/perfil-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
}

.experiencia-clientes{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-cliente{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.card-cliente img{
    width: 350px;
    height: 450px;
    border-radius: 20px;
}

.flechas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flechas i{
    cursor: pointer;
    color: #179CB9CC;
    transition: .4s;
}

.flechas i:hover{
    transform: scale(1.1);
}